<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QL_KHACHSANConnectionString"
            connectionString="Data Source=COMPUTEROFLONG;Initial Catalog=QL_KHACHSAN;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QL_KHACHSANConnectionString1"
            connectionString="Data Source=COMPUTEROFLONG;Initial Catalog=QL_KHACHSAN;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>