<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.Module_DNConnectionString"
            connectionString="Data Source=DESKTOP-J8JE5C3;Initial Catalog=Module_DN;User ID=sa;Password=123;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.Module_DNConnectionString1"
            connectionString="Data Source=DESKTOP-J8JE5C3;Initial Catalog=Module_DN;User ID=sa;Password=123;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>